@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  background-color: #4cb6f2 !important;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.background-theme {
  background-color: #4cb6f2 !important;
}
.color-theme {
  color: #4cb6f2 !important;
}
.wrapper {
  width: 100% !important;
  min-width: 450px !important;
  max-width: 500px !important;
  font-size: 1.08rem;
}
.card-header,
.card-body {
  background: transparent !important;
  border: none !important;
}
h3.color-theme {
  font-weight: 600;
}
input {
  padding: 12px 12px !important;
  font-size: 1.2rem !important;
  font-weight: 600 !important;
  text-align: center;
}
input:focus {
  outline: 2px solid #4cb6f2;
  box-shadow: none !important;
}

input::placeholder {
  color: #b1b2b3 !important;
  font-size: 1.2rem !important;
}
p.position-absolute {
  top: -15px;
  left: 50%;
  background-color: #fff;
  transform: translateX(-50%);
  color: #b1b2b3 !important;
  font-weight: 700 !important;
}
.location-btn {
  font-size: 1.3rem !important;
  padding: 12px !important;
  background-color: #4cb6f2 !important;
}
.back-btn {
  font-size: 1.5rem !important;
}
.weather-image {
  max-width: 45% !important;
  height: auto !important;
}
.tempture {
  font-weight: 700 !important;
  font-size: 5rem !important;
}
.extra-weather-info {
  font-size: 1.4rem !important;
}
.fl-degree::after {
  content: "feels like";
  display: block;
  font-weight: 400 !important;
}
.hum-precent::after {
  content: "Humbidity";
  display: block;
  font-weight: 400 !important;
}
.fl-degree,
.hum-precent {
  font-weight: 600 !important;
  font-size: 1.1rem !important;
  line-height: 20px;
}
.footer-icon {
  font-size: 2.3rem !important;
}
.weather-footer {
  border-top: 1px solid #e4e4e4 !important;
  border-bottom: 1px solid #e4e4e4 !important;
}
.weather-footer div:nth-child(1) {
  border-right: 1px solid #e4e4e4 !important;
}
